block config
  //- Empty on purpose so each page can update its variables

- pageAuthor = pageAuthor || data.site.defaultAuthor
- pageDescription = pageDescription || data.site.defaultDescription
- pageTitle = pageTitle || data.site.defaultTitle
- pageTwitter = pageTwitter || data.site.defaultTwitter
- pageUrl = pageUrl || data.site.defaultUrl
- pageImage = pageImage || screenshot()

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta('http-equiv'='x-ua-compatible', content='ie-edge')
    title=pageTitle
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description', content=pageDescription)
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content=pageTwitter)
    meta(name='twitter:creator', content=pageTwitter)
    meta(property='og:url', content=pageUrl)
    meta(property='og:title', content=pageTitle)
    meta(property='og:description', content=pageDescription)
    meta(property='og:image', content!=pageImage)
    script!=tweaks.ensureUrlTrailingSlashSource
    link(rel="shortcut icon", href=`./favicon.png`)
    link(type="text/css", rel="stylesheet", href=revv(`${url.pathToRoot}style.css`))
    body.arial
      include /_includes/header
      .pt-8.min-h-100vh.h-100p.flrnw
        .fln.w-14.border-r-001.bg-gray-3.border-gray-8.p-2
          .flcnw
            h2.text-3.bold Backgrounds
            a.fln.blue.hover_underline(href="/backgrounds") Backgrounds
            h2.text-3.bold Borders
            a.fln.blue.hover_underline(href="/border-colors") Borders colors
            a.fln.blue.hover_underline(href="/border-radius") Borders radius
            a.fln.blue.hover_underline(href="/border-width") Borders width
        .fla.p-3
          block content
      each jsFile in runtime.jsFiles
        script(src=`${url.pathToRoot}${jsFile}`)

