block config
  //- Empty on purpose so each page can update its variables

- pageAuthor = pageAuthor || data.site.defaultAuthor
- pageDescription = pageDescription || data.site.defaultDescription
- pageTitle = pageTitle || data.site.defaultTitle
- pageTwitter = pageTwitter || data.site.defaultTwitter
- pageUrl = pageUrl || data.site.defaultUrl
- pageImage = pageImage || screenshot()
- testString = "You can cut our wings but we will always remember what it was like to fly"

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta('http-equiv'='x-ua-compatible', content='ie-edge')
    title=pageTitle
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description', content=pageDescription)
    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content=pageTwitter)
    meta(name='twitter:creator', content=pageTwitter)
    meta(property='og:url', content=pageUrl)
    meta(property='og:title', content=pageTitle)
    meta(property='og:description', content=pageDescription)
    meta(property='og:image', content!=pageImage)
    script!=tweaks.ensureUrlTrailingSlashSource
    link(rel="shortcut icon", href=`./favicon.png`)
    link(type="text/css", rel="stylesheet", href=revv(`${url.pathToRoot}style.css`))
    body.arial
      include /_includes/header
      .pt-8.min-h-100vh.h-100p.flrnw
        .fln.w-14.border-r-001.bg-gray-3.border-gray-8.p-2
          .flcnw
            h2.text-3.bold Backgrounds
            a.fln.blue.hover_underline(href="/background-colors") Background colors
            a.fln.blue.hover_underline(href="/background-opacity") Background opacity
            a.fln.blue.hover_underline(href="/background-gradients") Background gradients

            h2.text-3.bold.mt-1 Borders
            a.fln.blue.hover_underline(href="/border-colors") Borders colors
            a.fln.blue.hover_underline(href="/border-radius") Borders radius
            a.fln.blue.hover_underline(href="/border-width") Borders width

            h2.text-3.bold.mt-1 Dimensions
            a.fln.blue.hover_underline(href="/dimensions-width") Width
            a.fln.blue.hover_underline(href="/dimensions-height") Height
            a.fln.blue.hover_underline(href="/dimensions-hover") Hover
            a.fln.blue.hover_underline(href="/dimensions-min-max") Min/Max
            a.fln.blue.hover_underline(href="/dimensions-crop") Crop

            h2.text-3.bold.mt-1 Effects
            a.fln.blue.hover_underline(href="/opacity") Opacity
            a.fln.blue.hover_underline(href="/box-shadow") Box shadows

            h2.text-3.bold.mt-1 Helpers
            a.fln.blue.hover_underline(href="/bullets") Bullets
            a.fln.blue.hover_underline(href="/conditionals") Conditionals
            a.fln.blue.hover_underline(href="/debug") Debug
            a.fln.blue.hover_underline(href="/flexbox") Flexbox

            h2.text-3.bold.mt-1 Line Height
            a.fln.blue.hover_underline(href="/line-heights-default") Default
            a.fln.blue.hover_underline(href="/line-heights-custom") Custom

            h2.text-3.bold.mt-1 Positioning
            a.fln.blue.hover_underline(href="/absolute") Absolute
            a.fln.blue.hover_underline(href="/position-hover") Hover
            a.fln.blue.hover_underline(href="/z-index") Z-index
            a.fln.blue.hover_underline(href="/z-index-hover") Z-index hover

            h2.text-3.bold.mt-1 Text
            a.fln.blue.hover_underline(href="/font-families") Font families
            a.fln.blue.hover_underline(href="/font-sizes") Font size
            a.fln.blue.hover_underline(href="/font-colors") Text color
            a.fln.blue.hover_underline(href="/text-opacity") Text opacity


        .fla.p-3
          block content
      each jsFile in runtime.jsFiles
        script(src=`${url.pathToRoot}${jsFile}`)

